<h1>Beacons#index</h1>

<%= link_to 'Crear Beacon', new_beacon_path %>

<table class="table">

  <thead>
    <tr>
      <th>UUID</th>
      <th>Major</th>
      <th>Minor</th>
      <th>Nombre</th>
      <th>Nombre largo</th>
      <th>Función</th>
      <th colspan="3">Acción</th>
    </tr>
  </thead>

  <tbody>
    <% @beacons.each do |beacon| %>
      <tr>
        <td><%= beacon.uuid %></td>
        <td><%= beacon.major %></td>
        <td><%= beacon.minor %></td>
        <td><%= beacon.nombre %></td>
        <td><%= beacon.nombre_largo %></td>
        <td><%= beacon.function.nombre %></td>

        <td><%= link_to "Ver", beacon %></td>
        <td><%= link_to "Editar", edit_beacon_path(beacon) %></td>
        <td><%= link_to "Eliminar", beacon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
