<h1>Beacons#show</h1>

<h2>UUID</h2>
<%= @beacon.uuid %>

<h2>Latitud</h2>
<%= @beacon.latitud %>

<h2>Longitud</h2>
<%= @beacon.longitud %>

<h2>Nombre</h2>
<%= @beacon.nombre %>

<h2>Nombre largo</h2>
<%= @beacon.nombre_largo %>

<h2>Visitas</h2>
<%= @beacon.dispositivos.count %>

<h2>Funcion</h2>
<%= @beacon.function.nombre %>


