<h1>Beacons#show</h1>

<h2>UUID</h2>
<%= @beacon.uuid %>

<h2>Major</h2>
<%= @beacon.major %>

<h2>Minor</h2>
<%= @beacon.minor %>

<h2>Nombre</h2>
<%= @beacon.nombre %>

<h2>Funcion</h2>
<%= @beacon.function.nombre %>


<br>
<br>
<%= link_to 'Beacons#index', beacons_path %>
