<h1>Functions#show</h1>

<h2>ID</h2>
<%= @function.id %>

<h2>Nombre</h2>
<%= @function.nombre %>

<h2>Beacons</h2>

  <% if @function.beacons.count == 0 %>
    <h4>No hay beacons asignados a esta función.</h4>
  <% else %>
    <table>

      <thead>
        <tr>
          <th>UUID</th>
          <th>Major</th>
          <th>Minor</th>
        </tr>
      </thead>

      <tbody>
        <% @function.beacons.each do |beacon| %>
          <tr>
            <td><%= beacon.uuid %></td>
            <td><%= beacon.major %></td>
            <td><%= beacon.minor %></td>
            <td><%= beacon.function.nombre %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  <% end %>

<br>
<br>
<%= link_to 'Beacons#index', beacons_path %> |
<%= link_to 'Funciones#index', functions_path %>
