<h1>Functions#show</h1>

<h2>ID</h2>
<%= @function.id %>

<h2>Nombre</h2>
<%= @function.nombre %>

<h2>Beacons</h2>

  <% if @function.beacons.count == 0 %>
    <h4>No hay beacons asignados a esta función.</h4>
  <% else %>
    <table>

      <thead>
        <tr>
          <th>UUID</th>
          <th>Latitud</th>
          <th>Longitud</th>
        </tr>
      </thead>

      <tbody>
        <% @function.beacons.each do |beacon| %>
          <tr>
            <td><%= beacon.uuid %></td>
            <td><%= beacon.latitud %></td>
            <td><%= beacon.longitud %></td>
            <td><%= beacon.nombre %></td>
            <td><%= beacon.function.nombre %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  <% end %>

